<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Program Progress table</display-name>
    <distributable/>
    <servlet>
        <display-name>Quartz Initializer Servlet</display-name>
        <servlet-name>QuartzInitializer</servlet-name>
        <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>start-scheduler-on-load</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>quartz.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>PP.Admin.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>districtselector</servlet-name>
        <servlet-class>PP.Admin.districtselector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indicatoractivities</servlet-name>
        <servlet-class>PP.Admin.indicatoractivities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>titleselector</servlet-name>
        <servlet-class>PP.Admin.titleselector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>districtselector2</servlet-name>
        <servlet-class>PP.Admin.districtselector2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indicatorResults</servlet-name>
        <servlet-class>PP.Admin.indicatorResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterer</servlet-name>
        <servlet-class>PP.Admin.filterer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>PP.Admin.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultsDisplay</servlet-name>
        <servlet-class>PP.Admin.ResultsDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultsDisplay2</servlet-name>
        <servlet-class>PP.Admin.ResultsDisplay2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaselineServlet</servlet-name>
        <servlet-class>PP.Admin.BaselineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Indicators</servlet-name>
        <servlet-class>PP.Admin.Indicators</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaselineTotalServlet</servlet-name>
        <servlet-class>PP.Admin.BaselineTotalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndicatorServlet</servlet-name>
        <servlet-class>PP.Admin.IndicatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIndicator</servlet-name>
        <servlet-class>PP.Admin.AddIndicator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIndicator</servlet-name>
        <servlet-class>PP.Admin.DeleteIndicator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIndicator</servlet-name>
        <servlet-class>PP.Admin.UpdateIndicator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistrictServlet</servlet-name>
        <servlet-class>PP.Admin.DistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDistrict</servlet-name>
        <servlet-class>PP.Admin.AddDistrict</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDistrict</servlet-name>
        <servlet-class>PP.Admin.UpdateDistrict</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDistrict</servlet-name>
        <servlet-class>PP.Admin.DeleteDistrict</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountyServlet</servlet-name>
        <servlet-class>PP.Admin.CountyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCounty</servlet-name>
        <servlet-class>PP.Admin.AddCounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCounty</servlet-name>
        <servlet-class>PP.Admin.UpdateCounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCounty</servlet-name>
        <servlet-class>PP.Admin.DeleteCounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaselineMaintainServlet</servlet-name>
        <servlet-class>PP.Admin.BaselineMaintainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBaselines</servlet-name>
        <servlet-class>PP.Admin.UpdateBaselines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Baseline2Servlet</servlet-name>
        <servlet-class>PP.Admin.Baseline2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBaselines2</servlet-name>
        <servlet-class>PP.Admin.UpdateBaselines2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indicatoractivities1</servlet-name>
        <servlet-class>PP.Admin.indicatoractivities1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>PP.Admin.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityRecordServlet</servlet-name>
        <servlet-class>PP.Admin.ActivityRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActivityServlet</servlet-name>
        <servlet-class>PP.Admin.EditActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActivity</servlet-name>
        <servlet-class>PP.Admin.UpdateActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActivity</servlet-name>
        <servlet-class>PP.Admin.DeleteActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResultServlet</servlet-name>
        <servlet-class>PP.Admin.EditResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActivityServlet2</servlet-name>
        <servlet-class>PP.Admin.EditActivityServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActivity2</servlet-name>
        <servlet-class>PP.Admin.UpdateActivity2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResultServlet2</servlet-name>
        <servlet-class>PP.Admin.EditResultServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResult</servlet-name>
        <servlet-class>PP.Admin.UpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResult2</servlet-name>
        <servlet-class>PP.Admin.UpdateResult2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteResult2</servlet-name>
        <servlet-class>PP.Admin.DeleteResult2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteResult</servlet-name>
        <servlet-class>PP.Admin.DeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActivity1</servlet-name>
        <servlet-class>PP.Admin.DeleteActivity1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GEFF</servlet-name>
        <servlet-class>PP.Admin.GEFF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quarter1CountyReport</servlet-name>
        <servlet-class>PP.Admin.Quarter1CountyReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>PP.Admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlet2</servlet-name>
        <servlet-class>PP.Admin.ActivityServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlets</servlet-name>
        <servlet-class>PP.Admin.ActivityServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlets2</servlet-name>
        <servlet-class>PP.Admin.ActivityServlets2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>PP.Admin.ActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndicatorUpdater</servlet-name>
        <servlet-class>PP.Admin.IndicatorUpdater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndicatorUpdater1</servlet-name>
        <servlet-class>PP.Admin.IndicatorUpdater1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprehensive_per_county</servlet-name>
        <servlet-class>PP.Admin.comprehensive_per_county</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activitySelector</servlet-name>
        <servlet-class>PP.Admin.activitySelector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterhelp</servlet-name>
        <servlet-class>PP.Admin.filterhelp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatehelp</servlet-name>
        <servlet-class>PP.Admin.updatehelp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateumanual</servlet-name>
        <servlet-class>PP.Admin.updateumanual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterhelp_clerk</servlet-name>
        <servlet-class>PP.Admin.filterhelp_clerk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importData</servlet-name>
        <servlet-class>PP.Admin.importData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDataTrial</servlet-name>
        <servlet-class>UPLOADDATA.UploadDataTrial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadData_HIVNonCum</servlet-name>
        <servlet-class>UPLOADDATA.UploadData_HIVNonCum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadHIVCumT14</servlet-name>
        <servlet-class>UPLOADDATA.UploadHIVCumT14</servlet-class>
    </servlet>
    <servlet>
        <description>This servlet is used to bauk data frequently</description>
        <servlet-name>updatedbpword</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.updatedbpword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupTrigger</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.BackupTrigger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_scheduler</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.update_scheduler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>county_reports</servlet-name>
        <servlet-class>PP.Admin.county_reports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_project_targets</servlet-name>
        <servlet-class>PP.Admin.add_project_targets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_quartely_targets</servlet-name>
        <servlet-class>PP.Admin.add_quartely_targets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_yearly_target</servlet-name>
        <servlet-class>PP.Admin.add_yearly_target</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_counties</servlet-name>
        <servlet-class>PP.Admin.load_counties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_districts</servlet-name>
        <servlet-class>PP.Admin.load_districts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_indicators</servlet-name>
        <servlet-class>PP.Admin.load_indicators</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>districtselector3</servlet-name>
        <servlet-class>PP.Admin.districtselector3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_edit_indicator</servlet-name>
        <servlet-class>PP.Admin.load_edit_indicator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_edit_quarterly_target</servlet-name>
        <servlet-class>PP.Admin.load_edit_quarterly_target</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_edit_yearly_target</servlet-name>
        <servlet-class>PP.Admin.load_edit_yearly_target</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_edited_overall_target</servlet-name>
        <servlet-class>PP.Admin.save_edited_overall_target</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_edited_quarterly_targets</servlet-name>
        <servlet-class>PP.Admin.save_edited_quarterly_targets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_edited_yearly_targets</servlet-name>
        <servlet-class>PP.Admin.save_edited_yearly_targets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndicatorActivitiesServlet</servlet-name>
        <servlet-class>PP.Admin.IndicatorActivitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadOVCData</servlet-name>
        <servlet-class>UPLOADDATA.UploadOVCData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCYP</servlet-name>
        <servlet-class>UPLOADDATA.UploadCYP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImmune</servlet-name>
        <servlet-class>UPLOADDATA.UploadImmune</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadP61D</servlet-name>
        <servlet-class>UPLOADDATA.UploadP61D</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_users</servlet-name>
        <servlet-class>PP.Admin.load_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_edited_user</servlet-name>
        <servlet-class>PP.Admin.save_edited_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_ur_details</servlet-name>
        <servlet-class>PP.Admin.save_ur_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSeparateIndicators</servlet-name>
        <servlet-class>PP.Admin.SaveSeparateIndicators</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indicator_results_report</servlet-name>
        <servlet-class>PP.Admin.indicator_results_report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataExport</servlet-name>
        <servlet-class>PP.Admin.DataExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Back_up_SQL</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.Back_up_SQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadActivities</servlet-name>
        <servlet-class>UPLOADDATA.UploadActivities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCSV</servlet-name>
        <servlet-class>PP.Admin.ReadCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importSQLData</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.importSQLData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>concatenateData</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.concatenateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Back_up_SQLClerk</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.Back_up_SQLClerk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSQLData</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.UploadSQLData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importSQLData1</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.importSQLData1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>concatenateDataClerk</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.concatenateDataClerk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editmail</servlet-name>
        <servlet-class>PP.Admin.editmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailtom_and_e</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.mailtom_and_e</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMnEmail</servlet-name>
        <servlet-class>PP.Admin.editMnEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadfacility</servlet-name>
        <servlet-class>UPLOADDATA.uploadfacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadOther</servlet-name>
        <servlet-class>UPLOADDATA.UploadOther</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadCurrent</servlet-name>
        <servlet-class>UPLOADDATA.uploadCurrent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload17N</servlet-name>
        <servlet-class>UPLOADDATA.Upload17N</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadChanges</servlet-name>
        <servlet-class>UPLOADDATA.UploadChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadOlmisPrevious</servlet-name>
        <servlet-class>UPLOADDATA.UploadOlmisPrevious</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDuplicates</servlet-name>
        <servlet-class>PP.Admin.getDuplicates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoBackup</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.AutoBackup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkbackup</servlet-name>
        <servlet-class>DBCREDENTIALSFILE.checkbackup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveBackupDetails</servlet-name>
        <servlet-class>PP.Admin.saveBackupDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>county_report_broken</servlet-name>
        <servlet-class>PP.Admin.county_report_broken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCountyReport</servlet-name>
        <servlet-class>PP.Admin.SubCountyReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadHIVCUMMULATIVE</servlet-name>
        <servlet-class>UPLOADDATA.UploadHIVCUMMULATIVE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QrynonHIV1</servlet-name>
        <servlet-class>UPLOADDATA.QrynonHIV1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadNonHIV2</servlet-name>
        <servlet-class>UPLOADDATA.UploadNonHIV2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>import_from_imis</servlet-name>
        <servlet-class>IMIS.import_from_imis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imisquarters</servlet-name>
        <servlet-class>IMIS.imisquarters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_dbs</servlet-name>
        <servlet-class>Scripts.add_dbs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadOVCData_this_year</servlet-name>
        <servlet-class>UPLOADDATA.UploadOVCData_this_year</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadOVCData_prior</servlet-name>
        <servlet-class>UPLOADDATA.UploadOVCData_prior</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateindicators</servlet-name>
        <servlet-class>Scripts.updateindicators</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomUpload</servlet-name>
        <servlet-class>UPLOADDATA.CustomUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>UPLOADDATA.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ppmpreport</servlet-name>
        <servlet-class>PPMP.ppmpreport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatebaseline</servlet-name>
        <servlet-class>PPMP.updatebaseline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferppmpdata_2013</servlet-name>
        <servlet-class>PPMP.transferppmpdata_2013</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ovc_customupload_this_year</servlet-name>
        <servlet-class>UPLOADDATA.ovc_customupload_this_year</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ovc_customupload_prior</servlet-name>
        <servlet-class>UPLOADDATA.ovc_customupload_prior</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertquarterlytargets</servlet-name>
        <servlet-class>Scripts.insertquarterlytargets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>districtselector</servlet-name>
        <url-pattern>/districtselector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indicatoractivities</servlet-name>
        <url-pattern>/indicatoractivities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>titleselector</servlet-name>
        <url-pattern>/titleselector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>districtselector2</servlet-name>
        <url-pattern>/districtselector2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indicatorResults</servlet-name>
        <url-pattern>/indicatorResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterer</servlet-name>
        <url-pattern>/filterer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsDisplay</servlet-name>
        <url-pattern>/ResultsDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsDisplay2</servlet-name>
        <url-pattern>/ResultsDisplay2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaselineServlet</servlet-name>
        <url-pattern>/BaselineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Indicators</servlet-name>
        <url-pattern>/Indicators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaselineTotalServlet</servlet-name>
        <url-pattern>/BaselineTotalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndicatorServlet</servlet-name>
        <url-pattern>/IndicatorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIndicator</servlet-name>
        <url-pattern>/AddIndicator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIndicator</servlet-name>
        <url-pattern>/DeleteIndicator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIndicator</servlet-name>
        <url-pattern>/UpdateIndicator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistrictServlet</servlet-name>
        <url-pattern>/DistrictServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDistrict</servlet-name>
        <url-pattern>/AddDistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDistrict</servlet-name>
        <url-pattern>/UpdateDistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDistrict</servlet-name>
        <url-pattern>/DeleteDistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountyServlet</servlet-name>
        <url-pattern>/CountyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCounty</servlet-name>
        <url-pattern>/AddCounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCounty</servlet-name>
        <url-pattern>/UpdateCounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCounty</servlet-name>
        <url-pattern>/DeleteCounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaselineMaintainServlet</servlet-name>
        <url-pattern>/BaselineMaintainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBaselines</servlet-name>
        <url-pattern>/UpdateBaselines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Baseline2Servlet</servlet-name>
        <url-pattern>/Baseline2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBaselines2</servlet-name>
        <url-pattern>/UpdateBaselines2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indicatoractivities1</servlet-name>
        <url-pattern>/indicatoractivities1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityRecordServlet</servlet-name>
        <url-pattern>/ActivityRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActivityServlet</servlet-name>
        <url-pattern>/EditActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActivity</servlet-name>
        <url-pattern>/UpdateActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActivity</servlet-name>
        <url-pattern>/DeleteActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResultServlet</servlet-name>
        <url-pattern>/EditResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActivityServlet2</servlet-name>
        <url-pattern>/EditActivityServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActivity2</servlet-name>
        <url-pattern>/UpdateActivity2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResultServlet2</servlet-name>
        <url-pattern>/EditResultServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResult</servlet-name>
        <url-pattern>/UpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResult2</servlet-name>
        <url-pattern>/UpdateResult2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteResult2</servlet-name>
        <url-pattern>/DeleteResult2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteResult</servlet-name>
        <url-pattern>/DeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActivity1</servlet-name>
        <url-pattern>/DeleteActivity1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GEFF</servlet-name>
        <url-pattern>/GEFF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quarter1CountyReport</servlet-name>
        <url-pattern>/Quarter1CountyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet2</servlet-name>
        <url-pattern>/ActivityServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlets</servlet-name>
        <url-pattern>/ActivityServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlets2</servlet-name>
        <url-pattern>/ActivityServlets2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/ActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndicatorUpdater</servlet-name>
        <url-pattern>/IndicatorUpdater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndicatorUpdater1</servlet-name>
        <url-pattern>/IndicatorUpdater1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprehensive_per_county</servlet-name>
        <url-pattern>/comprehensive_per_county</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activitySelector</servlet-name>
        <url-pattern>/activitySelector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterhelp</servlet-name>
        <url-pattern>/filterhelp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatehelp</servlet-name>
        <url-pattern>/updatehelp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateumanual</servlet-name>
        <url-pattern>/updateumanual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterhelp_clerk</servlet-name>
        <url-pattern>/filterhelp_clerk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importData</servlet-name>
        <url-pattern>/importData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDataTrial</servlet-name>
        <url-pattern>/UploadDataTrial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadData_HIVNonCum</servlet-name>
        <url-pattern>/UploadData_HIVNonCum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadHIVCumT14</servlet-name>
        <url-pattern>/UploadHIVCumT14</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedbpword</servlet-name>
        <url-pattern>/updatedbpword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupTrigger</servlet-name>
        <url-pattern>/BackupTrigger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_scheduler</servlet-name>
        <url-pattern>/update_scheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>county_reports</servlet-name>
        <url-pattern>/county_reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_project_targets</servlet-name>
        <url-pattern>/add_project_targets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_quartely_targets</servlet-name>
        <url-pattern>/add_quartely_targets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_yearly_target</servlet-name>
        <url-pattern>/add_yearly_target</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_counties</servlet-name>
        <url-pattern>/load_counties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_districts</servlet-name>
        <url-pattern>/load_districts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_indicators</servlet-name>
        <url-pattern>/load_indicators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>districtselector3</servlet-name>
        <url-pattern>/districtselector3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_edit_indicator</servlet-name>
        <url-pattern>/load_edit_indicator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_edit_quarterly_target</servlet-name>
        <url-pattern>/load_edit_quarterly_target</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_edit_yearly_target</servlet-name>
        <url-pattern>/load_edit_yearly_target</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_edited_overall_target</servlet-name>
        <url-pattern>/save_edited_overall_target</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_edited_quarterly_targets</servlet-name>
        <url-pattern>/save_edited_quarterly_targets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_edited_yearly_targets</servlet-name>
        <url-pattern>/save_edited_yearly_targets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndicatorActivitiesServlet</servlet-name>
        <url-pattern>/IndicatorActivitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadOVCData</servlet-name>
        <url-pattern>/UploadOVCData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCYP</servlet-name>
        <url-pattern>/UploadCYP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImmune</servlet-name>
        <url-pattern>/UploadImmune</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadP61D</servlet-name>
        <url-pattern>/UploadP61D</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_users</servlet-name>
        <url-pattern>/load_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_edited_user</servlet-name>
        <url-pattern>/save_edited_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_ur_details</servlet-name>
        <url-pattern>/save_ur_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSeparateIndicators</servlet-name>
        <url-pattern>/SaveSeparateIndicators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indicator_results_report</servlet-name>
        <url-pattern>/indicator_results_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataExport</servlet-name>
        <url-pattern>/DataExport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Back_up_SQL</servlet-name>
        <url-pattern>/Back_up_SQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadActivities</servlet-name>
        <url-pattern>/UploadActivities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCSV</servlet-name>
        <url-pattern>/ReadCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importSQLData</servlet-name>
        <url-pattern>/importSQLData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>concatenateData</servlet-name>
        <url-pattern>/concatenateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Back_up_SQLClerk</servlet-name>
        <url-pattern>/Back_up_SQLClerk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSQLData</servlet-name>
        <url-pattern>/UploadSQLData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importSQLData1</servlet-name>
        <url-pattern>/importSQLData1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>concatenateDataClerk</servlet-name>
        <url-pattern>/concatenateDataClerk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editmail</servlet-name>
        <url-pattern>/editmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailtom_and_e</servlet-name>
        <url-pattern>/mailtom_and_e</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMnEmail</servlet-name>
        <url-pattern>/editMnEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadfacility</servlet-name>
        <url-pattern>/uploadfacility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadOther</servlet-name>
        <url-pattern>/UploadOther</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadCurrent</servlet-name>
        <url-pattern>/uploadCurrent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload17N</servlet-name>
        <url-pattern>/Upload17N</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadChanges</servlet-name>
        <url-pattern>/UploadChanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadOlmisPrevious</servlet-name>
        <url-pattern>/UploadOlmisPrevious</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDuplicates</servlet-name>
        <url-pattern>/getDuplicates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoBackup</servlet-name>
        <url-pattern>/AutoBackup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkbackup</servlet-name>
        <url-pattern>/checkbackup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveBackupDetails</servlet-name>
        <url-pattern>/saveBackupDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>county_report_broken</servlet-name>
        <url-pattern>/county_report_broken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCountyReport</servlet-name>
        <url-pattern>/SubCountyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadHIVCUMMULATIVE</servlet-name>
        <url-pattern>/UploadHIVCUMMULATIVE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QrynonHIV1</servlet-name>
        <url-pattern>/QrynonHIV1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadNonHIV2</servlet-name>
        <url-pattern>/UploadNonHIV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>import_from_imis</servlet-name>
        <url-pattern>/import_from_imis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imisquarters</servlet-name>
        <url-pattern>/imisquarters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_dbs</servlet-name>
        <url-pattern>/add_dbs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadOVCData_this_year</servlet-name>
        <url-pattern>/UploadOVCData_this_year</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadOVCData_prior</servlet-name>
        <url-pattern>/UploadOVCData_prior</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateindicators</servlet-name>
        <url-pattern>/updateindicators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomUpload</servlet-name>
        <url-pattern>/CustomUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ppmpreport</servlet-name>
        <url-pattern>/ppmpreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatebaseline</servlet-name>
        <url-pattern>/updatebaseline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferppmpdata_2013</servlet-name>
        <url-pattern>/transferppmpdata_2013</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ovc_customupload_this_year</servlet-name>
        <url-pattern>/ovc_customupload_this_year</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ovc_customupload_prior</servlet-name>
        <url-pattern>/ovc_customupload_prior</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertquarterlytargets</servlet-name>
        <url-pattern>/insertquarterlytargets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
